<!-- Start My Account  -->
<div class="my-account-box-main">
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-6 col-md-12 animate__animated animate__bounceInDown">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon" [routerLinkActive]="['active']">
                                <a [routerLink]="['pedidos']"> <i class="fa fa-gift"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Mis Pedidos</h4>
                                <p>Revisa tus pedidos pendientes y pagados.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 animate__animated animate__bounceInUp">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon" [routerLinkActive]="['active']">
                                <a [routerLink]="['account-info']"><i class="fa fa-lock"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Login &amp; seguridad</h4>
                                <p>Revisa tu información y modifica tus datos.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- End My Account -->