<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-right">
                <button type="submit" class="btn btn-success" (click)="create()">REGISTRAR NUEVO EMPLEADO <i class="fas fa-plus"></i></button>
            </div>
            <div class="table-main table-responsive mt-3 pb-5">
                <table class="table table-bordered table-hover animate__animated animate__fadeInRight">
                    <thead class="bg-dark">
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Empleado</th>
                            <th class="text-center">DNI</th>
                            <th class="text-center">Dirección</th>
                            <th>E-mail</th>
                            <th class="text-center">Telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of empleados">
                            <td class="text-center">
                                {{c.id}}
                            </td>
                            <td class="name-pr">
                                {{c.nombres}}
                            </td>
                            <td class="price-pr">
                                {{c.dni}}
                            </td>
                            <td class="text-center">
                                <strong>{{c.direccion}}</strong>
                            </td>
                            <td class="add-pr text-center">
                                <strong>{{c.email}}</strong>
                            </td>
                            <td class="add-pr text-center">
                                <strong>{{c.telefono}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>