<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="/assets/img/main_icon.png" width="40" height="40" alt="Restaurante Puerto Azul">
    </a>
    <a class="navbar-brand text-light"><i><strong> RESTAURANTE PUERTO AZUL</strong></i></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item p-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/app/home']"><i class="fas fa-home mr-2"></i>Inicio</a>
            </li>
            <li class="nav-item p-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/app/productos']"><i class="fas fa-utensils mr-2"></i>Productos</a>
            </li>
            <li class="nav-item p-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/app/carta']"><i class="fas fa-hamburger mr-2"></i>Carta</a>
            </li>
            <li class="nav-item p-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/app/carrito']"><i class="fas fa-shopping-cart mr-2"></i>Carrito
                    <strong class="text-warning">{{'(' + carritoService.getNItems() +')'}}</strong></a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <ul class="navbar-nav btn-group my-2 my-lg-0 ml-5" role="group">
         
            <button class="btn btn-primary btn-sm btn-info">Ingresar</button>
        </ul>
    </div>
</nav> -->

<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="right-phone-box">
                    <p>Telefono :- <a href="#"> +51 923 812 120</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li *ngIf="authService.isAuthenticated()" ><a href=""><i class="fa fa-user s_color"></i> {{(this.authService.usuario.cliente?.nombres || " ")}} </a></li>
                        
                        <li><a href=""><i class="fas fa-location-arrow"></i> Ubiquenos</a></li>
                        <li><a href=""><i class="fas fa-headset"></i> Contactenos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    <!--  <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                        <option (click)="abrirModal()" >Registrarse</option>
                        <option>Iniciar Sesión</option>
                    </select> -->
                    <button *ngIf="!this.authService.isAuthenticated()" class="btn btn-primary btn-sm" [routerLink]="['/app', { outlets: { 'modal': ['a'] }}]"> Ingresar </button>
                    <button *ngIf="this.authService.isAuthenticated()" (click)="logout()" class="btn btn-primary btn-sm"> Salir</button>
                </div>

            </div>
        </div>
    </div>
</div>
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light  navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand"><img src="/assets/img/logo.png" class="logo"></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/app/home']">
                            <i class="fas fa-home mr-2"></i>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/app/carta']">
                            <i class="fas fa-utensils mr-2"></i>
                            Carta
                        </a>
                    </li>
                    <li *ngIf="this.authService.isAuthenticated() && this.authService.hasRole('ROLE_EMPLEADO')"  class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/app/administracion']">
                            <i class="fas fa-utensils mr-2"></i>
                            Administración
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/app/carrito']">
                            <i class="fas fa-shopping-cart mr-2"></i>
                            Carrito
                            <strong class="text-secondary">{{'(' + carritoService.getNItems() +')'}}</strong>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">Delica omtantur </a></h6>
                        <p>1x - <span class="price">$80.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">Omnes ocurreret</a></h6>
                        <p>1x - <span class="price">$60.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">Agam facilisis</a></h6>
                        <p>1x - <span class="price">$40.00</span></p>
                    </li>
                    <li class="total">
                        <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right"><strong>Total</strong>: $180.00</span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>

<router-outlet name="modal"></router-outlet>
<!-- <app-modal-shared></app-modal-shared> -->