<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="product-categori">
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Carta</h3>
                        </div>
                    </div>

                    <div class="search-product">
                        <form>
                            <input class="form-control" placeholder="Buscar Platillo..." type="text"
                                (input)="filter($event)">
                            <button type="submit"> <i class="fa fa-search"></i> </button>

                        </form>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" (change)="filterByOferta($event)"
                                id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"><strong>EN OFERTA</strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Productos <strong>{{productos.length}}</strong></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
                                            class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i
                                            class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 border-secondary animate__animated animate__fadeInUp"
                                        *ngFor="let p2 of productos">
                                        <div class="products-single fix ">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale" *ngIf="!p2.ofertDay">Producto</p>
                                                    <p class="sale bg-warning" *ngIf="p2.ofertDay">En oferta</p>
                                                </div>
                                                <img [src]="urlImg + p2.foto" class="img-fluid" alt="Image">
                                                <div class="mask-icon text-white">
                                                    <ul>
                                                        <li><a data-toggle="tooltip" data-placement="right"
                                                                title="View"><i class="fas fa-eye"></i></a></li>
                                                   
                                                    </ul>
                                                    <a class="cart" (click)="addToCarrito(p2)">Añadir al Carrito</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <h4>{{ p2.nombres }}</h4>
                                                <h5>S./ {{ p2.precio | number:'1.2-5' }}</h5>
                                                <br>
                                                <h5 class="mt-2 bg-info">Stock: {{ p2.stock }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    <div class="row  m-5 animate__animated animate__fadeInUp"
                                        *ngFor="let p3 of productos">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new" *ngIf="!p3.ofertDay">PRODUCTO</p>
                                                        <p class="new bg-warning" *ngIf="p3.ofertDay">OFERTA</p>
                                                    </div>
                                                    <img [src]="urlImg + p3.foto" class="img-fluid" alt="Image">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>{{p3.nombres}}</h4>
                                                <h5 class="text-white"> <del>$ 60.00</del>
                                                    S:/ {{ p3.precio | number:'1.2-5' }}</h5>
                                                <p>{{p3.descripcion}}</p>
                                                <a class="btn hvr-hover" href="#">Añadir al Carrito</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="row">
    <div class="col-lg-9">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar Platillo" name="txtStock"
                (input)="filter($event)">
        </div>
    </div>
    <div class="col-xs-2 text-xs-center mt-1">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" (change)="filterByOferta($event)" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"><strong>EN OFERTA</strong></label>
            </div>
        </div>
    </div>
</div>
<div class="row animate__animated animate__fadeInUp fast" *ngIf="productos.length === 0">
    <div class="col-lg-11">
        <div class="alert alert-primary text-center" role="alert">
            <div class="spinner-border" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" *ngIf="productos.length > 0">

    <div class="col-lg-4 d-flex align-items-stretch mb-3" *ngFor="let p of productos">

        <div class="card border-secondary animate__animated animate__fadeInUp mb-1" style="width: 18rem;">
            <ul class="list-group list-group-flush" *ngIf="p.ofertDay">
                <li class="list-group-item text-center bg-warning text-white"><strong>OFERTA DEL DIA</strong></li>
            </ul>
            <img [src]="urlImg + p.foto" class="card-img-top border" width="300" height="200">
            <div class="card-body">
                <h5 class="card-title text-center">{{p.nombres.toUpperCase()}}</h5>
                <hr>
                <p class="card-text p-2">{{p.descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Stock: </strong> {{p.stock}}</li>
                <li class="list-group-item"><strong>Precio: </strong> {{'S/. ' + p.precio }}</li>
            </ul>
            <div class="card-body text-center">
                <a class="btn btn-outline-primary btn-block text-primary" (click)="addToCarrito(p)">Añadir al Carrito<i
                        class="fas fa-cart-plus ml-2"></i></a>
                <a class="btn btn-success btn-block text-light">COMPRAR</a>
            </div>
        </div>

    </div>
</div> -->